* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    margin-top: 0;
    margin-bottom: 0 !important;
}

.App {
    position: relative;
}

.navbar-title {
    color: #f85555;
    font-weight: bolder;
}

.aside {
    position: fixed;
    top: 6rem;
    left: 0;
    height: 100vh;
    width: 25%;
}

.home {
    position: absolute;
    top: 5rem;
    right: 5%;
    width: 65vw;
}

.login {
    position: absolute;
    top: 5rem;
    left: calc(50% - 10%);
    width: 20%;
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-text {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 30px;
}

.log-out {
    font-size: 1rem;
    color: #2fa8f8;
    cursor: pointer;
}

.image-container {
    align-items: center;
    display: flex;
    height: 250px;
    justify-content: center;
}

.img {
    display: block;
    height: 80%;
    margin: 0 auto;
    object-fit: contain;
    width: 80%;
}

.filter-item {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.btn-price {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.item-categorie {
    cursor: pointer;
}

.item-categorie:hover {
    font-weight: bold;
}

.search-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-bar {
    margin: 2rem;
    width: 70% !important;
}

.icon {
    padding: 14 !important;
    font-size: 1.5rem !important;
    text-align: center !important;
    width: 10.3rem !important;
    border-left: 1px solid #dcd9d9 !important;
}

.border {
    border-bottom: 1px solid #dcd9d9 !important;
}

.test-data {
    width: 100%;
    background: #d8f5fd;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 12px;
}

.test-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.test-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 5px;
    margin-bottom: 1rem;
}

.product-title {
    color: #c7c7c7;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.card {
    margin-bottom: 2rem;
    border: 1px solid #dcd9d9;
}

.card-title {
    color: #c7c7c7;
    font-size: 1.1rem;
    font-weight: 600;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 10px;
}

.card-body {
    height: 12rem;
    border-top: 1px solid #dcd9d9;
    position: relative;
}

.product-detail {
    margin: 0 auto;
    width: 80%;
    margin-top: 7rem;
}

.main-product {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.galery {
    width: 60%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-description {
    width: 50%;
    position: relative;
    height: 400px;
}

.product-description h2 {
    margin-bottom: 20px;
    margin-left: 10px;
}

.product-description-description {
    margin-bottom: 30px !important;
}

.amount {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 10px;
}

.product-description-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator {
    background: #f85555;
    border-radius: 50%;
    height: 6px;
    margin: 0 14px;
    width: 6px;
}

.route {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link {
    cursor: pointer;
}

.product-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-images {
    width: 250px;
    max-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.product-btn {
    background: #f85555;
    color: #fff;
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.images-list {
    display: flex;
    list-style: none;
    transition: .5s ease-in-out;
    padding-left: 0;
}

.cart-btn {
    display: block;
    background: #f85555;
    border-radius: 50%;
    bottom: 30px;
    color: #fff;
    font-size: 1.3rem;
    height: 50px;
    line-height: 0;
    position: absolute;
    right: 30px;
    width: 50px;
}

.add-cart-btn {
    margin-top: 1rem;
    width: 100%;
    background: #f85555;
    color: #fff;
    font-size: 1.1rem;
    padding: 15px;width: 100%;
    border-radius: 0;
}

.value {
    width: 3rem;
    height: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dcd9d9
}

.quantity {
    display: flex;
    margin-right: 20rem;
}

.images-preview {
    height: 70px;
    margin: 0 10px;
    padding: 5px;
    width: 70px;
}

.previews {
    display: flex;
    margin-left: 10rem;
}

.selected {
    border: 2px solid #f85555;
    border-radius: 6px;
}

.images-preview-img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.quantity-button {
    background: none;
    width: 2rem;
    height: 2rem;
    border: 1px solid #dcd9d9;
    text-align: center;
    color: #c7c7c7;
    padding: 0;
    margin: 0;
}

.quantity-button:hover {
    background: none;
    width: 2rem;
    height: 2rem;
    border: 1px solid #dcd9d9;
    text-align: center;
    color: #c7c7c7;
    padding: 0;
    margin: 0;
}

.related-items {
    width: 100%;
    margin-top: 4rem;
}

.profile-img {
    width: 6rem;
    height: 6rem;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    font-size: 5.5rem;
}

.cart-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-item-info {
    display: flex;
    flex-direction: row;
}

.images-preview-cart {
    height: 80px;
    width: 80px;
    padding: 1rem;
}

.images-preview-img-cart {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.quantity-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cart-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 99999;
}


.cart-footer {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-direction: column;
    border-top: 1px solid #dcd9d9;
}

.cart-footer-text {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkout-btn {
    background: #f85555;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.footer-title {
    color: #c7c7c7;
}

.footer-subtitle {
    font-weight: bold;
}

.purchases {
    margin: 0 auto;
    width: 60%;
    margin-top: 7rem;
}

.purchases-body {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.purchase-card {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}

.relative {
    position: relative;
}

.btn-cointainer {
    position: absolute;
    right: 1rem;
    bottom: 0rem;
    z-index: 2;
}

.confirmation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.confirmation-card {
    width: 60%;
    height: 20rem;
    gap: 3rem;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.success {
    font-size: 90px;
}

.hide {
    display: none;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 45px;
}


@media only screen and (max-width: 768px) {
    .App {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
    

    p {
        font-size: .8rem;
    }

    h2 {
        font-size: 1rem;
    }

    .aside {
        display: none;
    }

    .home {
        position: absolute;
        top: 4rem;
        left: 50;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-cointainer {
        position: absolute;
        right: -1rem;
        bottom: -1rem;
        z-index: 1;
    }

    .main-product {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-images {
        width: 50%;
        max-height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .images-list li {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .galery {
        width: 80%;
    }

    .previews {
        margin-top: -20rem;
        margin-left: 10%;
    }

    .product-description {
        padding-top: 10rem;
    }

    .product-description-description {
        margin-bottom: 10 !important;
    }

    .related-items {
        margin-top: 45rem;
        margin-left: -5rem;
    }

    .nav {
        width: 50%;
    }

    .login {
        position: absolute;
        top: 7rem;
        left: 10%;
        height: 50vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-text {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.6;
        margin-bottom: 30px;
    }

    .form {
        width: 80% !important;
    }

    .row-cols-1 {
        
    }

    .purchase-card {
        flex-direction: column;
    }

    .image-container{
        width: 250px;
    }

    .product-detail{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-product {
        width: 100vw;
    }
}